.slibar-fix-top{ /* กำหนดให้ slibar อยู่ข้างบน ใช้ในหน้า index */ 
    margin-top: -100px;
}
.fix-top{ /* กำหนดให้ Navbar อยู่ข้างบน ใช้ในหน้า Navbar*/ 
    z-index: 9;  /* กำหนดแกน z = 9*/ 
}
/* --------------------------------------------------------------------------------------------------------------------------- */
.navbar{ 
    color:white;
    font-size: 17px;
    right: calc(center);
    /*overflow: hidden; /* ไม่ให้ขยับ */
}
.navbar:hover{
    color:rgba(0,0,0,0.8);
}
a.link {color:black;text-decoration:none;} /*สีก่อนกด*/
/*a.clink:hover {text-decoration:underline;}   /*วางเม้าส์ มีขีดเส้นใต้*/

/* --------------------------------------------------------------------------------------------------------------------------- */
.style-link{
    color:dimgray;
}

.style-link:hover{
    color:rgba(0,0,0,0.8);
}
/* --------------------------------------------------------------------------------------------------------------------------- */
