*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Roboto, -apple-system, 'Helvetica Neue', 'Segoe UI', Arial, sans-serif;
}

.button2 {   /*แก้นะะะะะะะะะะะะะะะะะะะะะ*/
	background-color:rgba(0,0,0,0.6); /*โปร่ง*/
	border: none;
	border-radius: 8px;
	color: white;
	padding: 10px 22px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
   } /* Blue */
   
.forms-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}

.forms {
	display: flex;
	align-items: flex-start;
	margin-top: 30px;
}

.form-wrapper {
	animation: hideLayer .3s ease-out forwards;
}

.form-wrapper.is-active {
	animation: showLayer .3s ease-in forwards;
}

@keyframes showLayer {
	50% {
		z-index: 1;
	}
	100% {
		z-index: 1;
	}
}

@keyframes hideLayer {
	0% {
		z-index: 1;
	}
	49.999% {
		z-index: 1;
	}
}

.switcher {
	position: relative;
	cursor: pointer;
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding: 0;
	text-transform: uppercase;
	font-family: inherit;
	font-size: 16px;
	letter-spacing: .5px;
	color: #999;
	background-color: transparent;
	border: none;
	outline: none;
	transform: translateX(0);
	transition: all .3s ease-out;
}

/*คำ login*/
.form-wrapper.is-active .switcher-login {
	color: #fff;
	transform: translateX(90px);
}
/*คำ sign up*/
.form-wrapper.is-active .switcher-signup {
	color: #fff;
	transform: translateX(-90px);
}

.underline {
	position: absolute;
	bottom: -5px;
	left: 0;
	overflow: hidden;
	pointer-events: none;
	width: 100%;
	height: 2px;
}

.underline::before {
	content: '';
	position: absolute;
	top: 0;
	left: inherit;
	display: block;
	width: inherit;
	height: inherit;
	background-color: currentColor;
	transition: transform .2s ease-out;
}

.switcher-login .underline::before {
	transform: translateX(101%);
}

.switcher-signup .underline::before {
	transform: translateX(-101%);
}

.form-wrapper.is-active .underline::before {
	transform: translateX(0);
}

.form {
	overflow: hidden;
	min-width: 300px;
	margin-top: 50px;
	padding: 30px 25px;
    border-radius: 5px;
	transform-origin: top;
}

.form-login {
	animation: hideLogin .3s ease-out forwards;
}

.form-wrapper.is-active .form-login {
	animation: showLogin .3s ease-in forwards;
}

@keyframes showLogin {
	0% {
		background: #d7e7f1;
		transform: translate(40%, 10px);
	}
	50% {
		transform: translate(0, 0);
	}
	100% {
		background-color: #fff;
		transform: translate(35%, -20px);
	}
}

@keyframes hideLogin {
	0% {
		background-color: #fff;
		transform: translate(35%, -20px);
	}
	50% {
		transform: translate(0, 0);
	}
	100% {
		background: #d7e7f1;
		transform: translate(40%, 10px);
	}
}

.form-signup {
	animation: hideSignup .3s ease-out forwards;
}

.form-wrapper.is-active .form-signup {
	animation: showSignup .3s ease-in forwards;
}

@keyframes showSignup {
	0% {
		background: #d7e7f1;
		transform: translate(-40%, 10px) scaleY(.8);
	}
	50% {
		transform: translate(0, 0) scaleY(.8);
	}
	100% {
		background-color: #fff;
		transform: translate(-35%, -20px) scaleY(1);
	}
}

@keyframes hideSignup {
	0% {
		background-color: #fff;
		transform: translate(-35%, -20px) scaleY(1);
	}
	50% {
		transform: translate(0, 0) scaleY(.8);
	}
	100% {
		background: #d7e7f1;
		transform: translate(-40%, 10px) scaleY(.8);
	}
}

.form fieldset {
	position: relative;
	opacity: 0;
	margin: 0;
	padding: 0;
	border: 0;
	transition: all .3s ease-out;
}

.form-login fieldset {
	transform: translateX(-50%);
}


.form-wrapper.is-active fieldset {
	opacity: 1;
	transform: translateX(0);
	transition: opacity .4s ease-in, transform .35s ease-in;
}


.form legend {
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	clip: rect(0 0 0 0);
}

.input-block {
	margin-bottom: 20px;
}

.input-block label {
	font-size: 14px;
  color: #a1b4b4;
}

.input-block input {
	display: block;
	width: 100%;
	margin-top: 8px;
	padding-right: 15px;
	padding-left: 15px;
	font-size: 16px;
	line-height: 40px;
	color: #3b4465;
   	background: #eef9fe;
  	border: 1px solid #cddbef;
	border-radius: 2px;
}

.form [type='submit'] {
	opacity: 0;
	display: block;
	min-width: 120px;
	margin: 30px auto 10px;
	font-size: 18px;
	line-height: 40px;
	border-radius: 25px;
	border: none;
	transition: all .3s ease-out;
}

.form-wrapper.is-active .form [type='submit'] {
	opacity: 1;
	transform: translateX(0);
	transition: all .4s ease-in;
}

/*ปุ่มหน้า login*/
.btn-login {
	color: #fbfdff;
	background: #fa8072	;
	transform: translateX(-30%);
}

/*ปุ่มหน้า sign up*/
.btn-signup {
	color: #fa8072;
	background: #fbfdff;
	box-shadow: inset 0 0 0 2px #fa8072;
	transform: translateX(30%);
}

/*เลื่อนเมาส์ไปวาง ที่ปุ่ม หรือ กล่องใส่ข้อความ มีขอบเทา*/
.btn-login:hover,.btn-signup:hover{
	box-shadow: 2px 2px 5px #555;
	background-color: MediumSeaGreen;
	color: #fbfdff;
}

.button2:hover{
	background-color: black;
}

.input-block input:hover{
	box-shadow: 2px 2px 5px #555;
	background-color: #ddd;
}

/*--------------------------- popup ----------------------------------------*/

/*กรอบมัวๆ หลังบล็อก login* กรอบ*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height มัวเต็มจอ */
  overflow: hidden; /* Enable scroll if needed ไม่ขยับ */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 5px; /*โชว์กลางหน้าเว็บ ระยะห่างด้านบน*/
}

/* Modal Content/Box กรอบเข้มๆ*/
.modal-content {
 /*background-image: url("sea.jpg");*/
 background-color:rgba(0,0,0,0.7); /*พื้นหลังเข้ม ปิดหน้าแรก*/
  margin: 15px auto; /* 15% from the top and centered */
/*  border: 1px solid #888; */
  width: 68%; /* Could be more or less, depending on screen size */
  height: 90%; 
  box-shadow:0 0 15px #333; /*กรอบมัวๆ คมชัด15px */
}

.close {
	/* Position it in the top right corner outside of the modal */
	position: absolute;  /* absolute ซ้อนทับอันอื่นได้ */
	right: 25px;
	top: 0;
	color: #999;
	font-size: 35px;
	font-weight: bold;
  }
  
  /* Close button on hover */
  .close:hover,.close:focus {
	color: red; /*เปลี่ยนกากาบาทเป็นสีแดง*/
	cursor: pointer; /*เปลี่ยนเมาส์เป็นรูปชี้*/
  }
  
/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

/*-----  alert ----- */
.alert {
	padding: 20px;
	background-color: #fa8072;
	color: white;
	opacity: 1;
	transition: opacity 0.6s;
	margin-bottom: 15px;
  }
  
  .closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
  }
  
  .closebtn:hover {
	color: black;
  }


/*----- เพิ่ม ---*/
.toggle-password-log{
  color: #696969;
  float: right;
  cursor: pointer;
  margin-right: 10px;
  margin-top: -29px;
}